<|DOCTYPE html› 
<!--[if It IE 7]>             <html class="no-js It-ie9 lt-ie8 It-ie7"> <! [endif]--›
‹I--[if IE 7>                 <html class="no-js It-ie9 It-ie8"› <! [endif]-->
<I--rif IE 8>                 <html class="no-js It-ie9"> <![endif]-->
<I--[if gt IE 8]>             <html class="no-js"> <!--<![endif]-->
                 
<htm1>
     <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content= "IE=edge">
        ‹title›‹/title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        </head> 
        <body> 

            <h3>Sign Up</h3>

            <from action="/signin"method="post">
            {% csrf_token %}
                <label for="">Username:</label>
                input type="text" id="username" name="username" placeholder="Enter Your Username" <Required>
                <br>

                <label for="">Password:</label>
                input type="password" id="pass1" name="pass1" placeholder="Enter your Password Required> 
                <br>

     

                <button type="submit">Sign In</button>
            </from>
         </body>
</htm1>