<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="csrf-token" content="7me3G9yrb0L6YdXPoOQxFj3rJA8sdVDfA6dudAy2">
    <link rel="shortcut icon" type="image/x-icon" href="https://smarten.com.np/assets/images/favicon.png">

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Smarten Technologies</title>

    <link rel="stylesheet" href="https://smarten.com.np/assets/css/webfonts.css">
<link rel="stylesheet" href="https://smarten.com.np/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="https://smarten.com.np/assets/css/plugins.min.css">
<link rel="stylesheet" href="https://smarten.com.np/assets/css/style.css">
<link rel="stylesheet" href="https://smarten.com.np/assets/css/color.css">
<link rel="stylesheet" href="https://smarten.com.np/assets/css/responsive.css">

<!-- Revolution Style -->
<link rel="stylesheet" href="https://smarten.com.np/assets/css/revolution/settings.css">
<link rel="stylesheet" href="https://smarten.com.np/assets/css/revolution/navigation.css">
</head>
<body itemscope>

    <main>
        <header class="style4 v2 stick">
    <div class="topbar-box">
        <div class="topbar-scl-sgn pull-right">
            <div class="tp-scl">
                <a href="https://www.instagram.com/smartentechnologies/" title="Instagram" itemprop="url"
                   target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/smarten.technologies" title="Facebook" itemprop="url" target="_blank"><i
                        class="fa fa-facebook-square"></i></a>
                <a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" title="Linkedin" itemprop="url" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <a href="https://smarten.com.np/contactus" title="Login" itemprop="url"><i class="fa fa-sign-in"></i> Get Quote</a>
        </div>
        <ul class="topbar-info pull-right">
            <li><i class="fa fa-phone"></i> <strong>+977-1-5900098</strong> Call us anytime</li>
            <li><i class="fa fa-envelope"></i> <strong>info@smarten.com</strong> Drop us a line anytime!</li>
            <li><i class="fa fa-clock-o"></i> <strong>Working Hours:</strong> Sun - Fri : 9:00 am to 6:00 pm</li>
        </ul>
        <div class="logo">
            <a href="https://smarten.com.np" title="Logo" itemprop="url">
                <img src="https://smarten.com.np/assets/images/smarten-logo.png" alt="smarten-logo.png" itemprop="image"
                     style="width: 135px">
            </a>
        </div>
    </div><!-- Topbar Box -->
    <div class="menu-box">
        <nav>
            <div>
                <ul>
                    <li class="menu-item"><a href="https://smarten.com.np" title="" itemprop="url">Home</a>
                    </li>
                    <li class="menu-item"><a href="https://smarten.com.np/company" title="" itemprop="url">Company</a>
                    </li>
                    <li class="menu-item"><a href="https://smarten.com.np/services" title="" itemprop="url">Services</a>
                    </li>
                    
                    
                    
                    
                    <li class="menu-item"><a href="https://smarten.com.np/contactus" title="" itemprop="url">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div><!-- Menu Box -->
</header><!-- Header -->

<!-- Responsive Menu -->
<div class="rspn-hdr">
    <div class="rspn-mdbr">
        <ul class="rspn-scil">
            <li><a href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" title="Instagram" itemprop="url" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Linkedin" itemprop="url" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="lg-mn">
        <div class="logo">
            <a href="index.html" title="Logo" itemprop="url">
                <img src="https://smarten.com.np/assets/images/smarten-logo.png" alt="smarten-logo.png" itemprop="image"
                     style="width: 135px">
            </a>
        </div>
        <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
    </div>
    <div class="rsnp-mnu">
        <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
        <ul>
            <li class="menu-item"><a href="#" title="" itemprop="url">Home</a>
            </li>
            <li class="menu-item"><a href="#" title="" itemprop="url">Company</a>
            </li>
            <li class="menu-item"><a href="#" title="" itemprop="url">Services</a>
            </li>
            <li class="menu-item"><a href="#" title="" itemprop="url">Products</a>
            </li>
            <li class="menu-item"><a href="#" title="" itemprop="url">SEO</a>
            </li>
            <li class="menu-item"><a href="#" title="" itemprop="url">Contact Us</a>
            </li>
        </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->

        <section>
            <div class="spacing black-layer3 opc8">
                <div class="fixed-bg" style="background-image: url('assets/images/resources/slide1.jpg');"></div>
                <div class="container">
                    <div class="pg-tp-wrp text-center">
                        <div class="pg-tp-inr">
                            <h1 itemprop="headline">Our Services</h1>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="https://smarten.com.np" title="" itemprop="url">Home</a>
                                </li>
                                <li class="breadcrumb-item active">Services</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="spacing">
                <div class="prjcts-wrp">
                    <div class="prjcts-inrg style4 text-center">
                        <ul class="fltr-lnks">
                            <li class="active"><a data-filter="*" href="#" itemprop="url">ALL SERVICES</a></li>
                            <li><a data-filter=".fltr-itm1" href="#" itemprop="url">ERP</a></li>
                            <li><a data-filter=".fltr-itm2" href="#" itemprop="url">AMI</a></li>
                            <li><a data-filter=".fltr-itm3" href="#" itemprop="url">Telecommunication </a></li>
                            <li><a data-filter=".fltr-itm4" href="#" itemprop="url">IOT</a></li>
                        </ul><!-- Filter Links -->
                        <div class="fltr-dta remove-ext3 text-left">
                            <div class="row msonry2">
                                <div class="col-md-3 col-sm-6 col-lg-3 fltr-itm fltr-itm1">
                                    <div class="prtfl-bx2 brd-rd3">
                                        <img src="https://smarten.com.np/assets/images/resources/odoo-apps.png"
                                             alt="prtfl-img5-1.jpg" itemprop="image">
                                        <div class="prtfl-inf2">
                                            <span class="theme-clr">IT Service</span>
                                            <h4 itemprop="headline"><a href="https://smarten.com.np/services/erp" title=""
                                                                       itemprop="url">ERP Implementations</a></h4>
                                            <p itemprop="description">Amazing employees deserve amazing software</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3 fltr-itm fltr-itm2">
                                    <div class="prtfl-bx2 brd-rd3">
                                        <img src="https://smarten.com.np/assets/images/resources/ami-service.png"
                                             alt="prtfl-img5-2.jpg" itemprop="image">
                                        <div class="prtfl-inf2">
                                            <span class="theme-clr">AMI</span>
                                            <h4 itemprop="headline"><a href="#" title=""
                                                                       itemprop="url">AMI</a></h4>
                                            <p itemprop="description">Advance Metering Infrastructure enables two-way
                                                communication meters reading electrical consumption at a higher
                                                frequency.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3 fltr-itm fltr-itm3">
                                    <div class="prtfl-bx2 brd-rd3">
                                        <img src="https://smarten.com.np/assets/images/resources/telcome-service.jpg"
                                             alt="prtfl-img5-3.jpg"
                                             itemprop="image">
                                        <div class="prtfl-inf2">
                                            <span class="theme-clr">Telcome</span>
                                            <h4 itemprop="headline">
                                                <a href="#" title="" itemprop="url">Telcome Services</a></h4>
                                            <p itemprop="description">We focus on a simple goal, to provide our clients
                                                with the best and most cost effective solution to fit their
                                                telecommunication network infrastructure requirements.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3 fltr-itm fltr-itm4">
                                    <div class="prtfl-bx2 brd-rd3">
                                        <img src="https://smarten.com.np/assets/images/resources/iot.png" alt="prtfl-img5-4.jpg"
                                             itemprop="image">
                                        <div class="prtfl-inf2">
                                            <span class="theme-clr">IOT</span>
                                            <h4 itemprop="headline"><a href="#" title=""
                                                                       itemprop="url">IOT Consulting</a></h4>
                                            <p itemprop="description">As an IoT (Internet of Things) service provider,
                                                we assisted clients from various industries such as manufacturing,
                                                energy & utilities, logistics & transportation, healthcare and telecom
                                                in
                                                interconnecting devices
                                                seamlessly interact with each other to gather, store, and process
                                                data.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Projects Wrap -->
            </div>
        </section>
        
        <section>
    <div class="spacing theme-bg top-spac90 bottom-spac90">
        <div class="container">
            <div class="nws-ltr-wrp">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="nws-ltr">
                            <h4 itemprop="headline">Email Newsletter</h4>
                            <p itemprop="description">Keep me up to date with content, updates, and offers from
                                Smarten</p>
                            <form class="nws-frm">
                                <input type="email" name="email" placeholder="Email address" required>
                                <button class="theme-btn hrz brd-rd2" type="submit">SUBSCRIBE</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="facts-wrp remove-ext3">
                            <div class="fact-bx">
                                <strong class="counter">100000</strong>+
                                <span>IOT Nodes</span>
                            </div>
                            <div class="fact-bx">
                                <strong class="counter">150000</strong>
                                <span>CUSTOMERS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        <footer>
    <div class="spacing drk-bg top-spac80 bottom-spac80">
        <div class="container">
            <div class="ftr-wrp remove-ext5">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-lg-3">
                        <div class="wdgt abt-wdgt">
                            <div class="logo">
                                <a href="#" title="" itemprop="url">
                                    <img src="https://smarten.com.np/assets/images/smarten-logo.png" alt="smarten-logo.png"
                                         itemprop="image">
                                </a>
                            </div>
                            <p itemprop="description">SMARTEN is a SINGLE WINDOW INTERFACE FOR FTTA, FTTX, AMI
                                IMPLEMENTATION,
                                AND ERP SOLUTIONS.</p>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-lg-3">
                        <div class="wdgt">
                            <h4 itemprop="headline" class="wdgt-tl">Recent Blogs</h4>
                            <div class="rcnt-itm">
                                <h4 itemprop="headline"><a href="#" title=""
                                                           itemprop="url">Smart Electricity Meters in the Kathmandu
                                        Valley</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-clock-o theme-clr"></i> September 25, 2022</li>
                                </ul>
                            </div>
                            <div class="rcnt-itm">
                                <h4 itemprop="headline"><a href="#" title=""
                                                           itemprop="url">Future of Optical Link (5G)</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-clock-o theme-clr"></i> March 18, 2022</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-lg-3">
                        <div class="wdgt">
                            <h4 itemprop="headline" class="wdgt-tl">Resources</h4>
                            <div class="rcnt-itm">
                                <ul class="post-meta">
                                    <li><i class="fa fa-clock-o theme-clr"></i> About Us</li>
                                    <li><i class="fa fa-clock-o theme-clr"></i> Terms & Conditions</li>
                                    <li><i class="fa fa-clock-o theme-clr"></i> Career</li>
                                    <li><i class="fa fa-clock-o theme-clr"></i> FAQs</li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-lg-3">
                        <div class="wdgt">
                            <h4 itemprop="headline" class="wdgt-tl">Our Contacts</h4>
                            <p itemprop="description">For any queries contact us...</p>
                            <ul class="ft-cnt-lst">
                                <li><strong>Email:</strong> <a href="#" title=""
                                                               itemprop="url">support@smarten.com.np</a>
                                </li>
                                <li><strong>Phone:</strong> 01-5900098 / 985-1081507</li>
                            </ul>
                            <div class="scl-lnks">
                                <a class="brd-rd50" href="https://www.facebook.com/smarten.technologies" title="Facebook" itemprop="url" target="_blank"><i
                                        class="fa fa-facebook"></i></a>
                                <a class="brd-rd50" href="#" title="twitter" itemprop="url" target="_blank"><i
                                        class="fa fa-twitter"></i></a>
                                <a class="brd-rd50" href="https://www.instagram.com/smartentechnologies/" title="Instagram" itemprop="url" target="_blank"><i
                                        class="fa fa-instagram"></i></a>
                                <a class="brd-rd50" href="#" title="Linkedin" itemprop="url" target="_blank"><i
                                        class="fa fa-linkedin"></i></a>
                                <a class="brd-rd50" href="#" title="Youtube" itemprop="url" target="_blank"><i
                                        class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Footer Wrap -->
        </div>
    </div>
</footer>
<div class="btm-br text-center">
    <div class="container">
        <p itemprop="description">&copy; 2023 All Rights Reserved ||
            <a href="https://smarten.com.np" title="Smarten" itemprop="url"
               target="_blank">Smarten Technologies Pvt Ltd</a>
        </p>
    </div>
</div>
    </main><!-- Main Wrapper -->

<script src="https://smarten.com.np/assets/js/jquery.min.js"></script>
<script src="https://smarten.com.np/assets/js/bootstrap.min.js"></script>
<script src="https://smarten.com.np/assets/js/plugins.min.js"></script>
<script src="https://smarten.com.np/assets/js/part-int.js"></script>
<script src="https://smarten.com.np/assets/js/custom-scripts.js"></script>

<!-- Revolution JS Files -->
<script src="https://smarten.com.np/assets/js/revolution/jquery.themepunch.tools.min.js"></script>
<script src="https://smarten.com.np/assets/js/revolution/jquery.themepunch.revolution.min.js"></script>

<!-- Slider Revolution 5.0 Extensions -->
<script src="https://smarten.com.np/assets/js/revolution/extensions/revolution.extension.actions.min.js"></script>
<script src="https://smarten.com.np/assets/js/revolution/extensions/revolution.extension.carousel.min.js"></script>
<script src="https://smarten.com.np/assets/js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
<script src="https://smarten.com.np/assets/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="https://smarten.com.np/assets/js/revolution/extensions/revolution.extension.migration.min.js"></script>
<script src="https://smarten.com.np/assets/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
<script src="https://smarten.com.np/assets/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
<script src="https://smarten.com.np/assets/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
<script src="https://smarten.com.np/assets/js/revolution/extensions/revolution.extension.video.min.js"></script>
<script src="https://smarten.com.np/assets/js/revolution/revolution-init.js"></script>
</body>
</html>
