<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="csrf-token" content="e4ECF6Rd8ys7Ac9kgS6FCepSt8DuNEl747DAqzTw">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Smarten Technologies</title>

    <link rel="stylesheet" href="{% static 'assets/css/webfonts.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/color.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

<!-- Revolution Style -->
<link rel="stylesheet" href="{% static 'assets/css/revolution/settings.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/revolution/navigation.css' %}">
</head>
<body itemscope>

    <main>
        <header class="style4 v2 stick">
    <div class="topbar-box">
        <div class="topbar-scl-sgn pull-right">
            <div class="tp-scl">
                <a href="https://www.instagram.com/smartentechnologies/" title="Instagram" itemprop="url"
                   target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/smarten.technologies" title="Facebook" itemprop="url" target="_blank"><i
                        class="fa fa-facebook-square"></i></a>
                <a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" title="Linkedin" itemprop="url" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <a href="/contactus" title="Login" itemprop="url"><i class="fa fa-sign-in"></i> Get Quote</a>
        </div>
        <ul class="topbar-info pull-right">
            <li><i class="fa fa-phone"></i> <strong>+977-1-5900098</strong> Call us anytime</li>
            <li><i class="fa fa-envelope"></i> <strong>info@smarten.com</strong> Drop us a line anytime!</li>
            <li><i class="fa fa-clock-o"></i> <strong>Working Hours:</strong> Sun - Fri : 9:00 am to 6:00 pm</li>
        </ul>
        <div class="logo">
            <a href="/homepage" title="Logo" itemprop="url">
                <img src="{% static 'assets/images/smarten-logo.png' %}" alt="{% static 'smarten-logo.png' %}" itemprop="image"
                     style="width: 135px">
            </a>
        </div>
    </div><!-- Topbar Box -->
    <div class="menu-box">
        <nav>
            <div>
                <ul>
                    <li class="menu-item"><a href="/homepage" title="" itemprop="url">Home</a>
                    </li>
                    <li class="menu-item"><a href="/company" title="" itemprop="url">Company</a>
                    </li>
                    <li class="menu-item"><a href="/services" title="" itemprop="url">Services</a>
                    </li>
                    
                    
                    
                    
                    <li class="menu-item"><a href="{'/contactus'}" title="" itemprop="url">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div><!-- Menu Box -->
</header><!-- Header -->

<!-- Responsive Menu -->
<div class="rspn-hdr">
    <div class="rspn-mdbr">
        <ul class="rspn-scil">
            <li><a href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" title="Instagram" itemprop="url" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Linkedin" itemprop="url" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="lg-mn">
        <div class="logo">
            <a href="index.html" title="Logo" itemprop="url">
                <img src="{% static 'assets/images/smarten-logo.png' %}" alt="{% static 'smarten-logo.png' %}" itemprop="image"
                     style="width: 135px">
            </a>
        </div>
        <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
    </div>
    <div class="rsnp-mnu">
        <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
        <ul>
            <li class="menu-item"><a href="#" title="" itemprop="url">Home</a>
            </li>
            <li class="menu-item"><a href="#" title="" itemprop="url">Company</a>
            </li>
            <li class="menu-item"><a href="#" title="" itemprop="url">Services</a>
            </li>
            <li class="menu-item"><a href="#" title="" itemprop="url">Products</a>
            </li>
            <li class="menu-item"><a href="#" title="" itemprop="url">SEO</a>
            </li>
            <li class="menu-item"><a href="#" title="" itemprop="url">Contact Us</a>
            </li>
        </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->

        
        <section>
            <div class="spacing black-layer3 opc8">
                <div class="fixed-bg" style="background-image: url('assets/images/resources/slide1.jpg');"></div>
                <div class="container">
                    <div class="pg-tp-wrp text-center">
                        <div class="pg-tp-inr">
                            <h1 itemprop="headline">About Smarten</h1>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/homepage" title="" itemprop="url">Home</a>
                                </li>
                                <li class="breadcrumb-item active">About SMARTEN</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div class="spacing bottom-spac70">
                <div class="container">
                    <div class="srv-wrp6 remove-ext15">
                        <div class="srv-bx6">
                            <div class="srv-thmb6">
                                <img src="{% static 'assets/images/resources/srv-img-1.png' %}" alt="{% static 'srv-img6-1.jpg' %}"
                                     itemprop="image">
                            </div>
                            <div class="srv-inf6">
                                
                                <h2 itemprop="headline">About Smarten Technology</h2>
                                <p itemprop="description">
                                    SMARTEN is a professionally managed group and well equipped for working on projects
                                    related to national hydropower, telecommunications (like FTTA, FTTX, AMI
                                    Implementation, ERP)
                                    and construction along with necessary training, consultancy, and marketing services
                                    of various
                                    engineering products. We provide a complete solution for survey, site acquisition,
                                    installation,
                                    commissioning, and maintenance of all processes regarding Information &
                                    Communication Technology (ICT)
                                    infrastructures including power solutions and civil work in the field of
                                    telecommunications and its
                                    infrastructure.
                                </p>
                                <a class="brd-rd2" href="{% static 'company-details' %}" title="" itemprop="url">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div class="spacing remove-gap bottom-spac190">
                <div class="container">
                    <div class="remove-ext3">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="fea-bx">
                                    <i class="flaticon-046-analytics brd-rd50"></i>
                                    <div class="fea-bx-inf">
                                        <h4 itemprop="headline">Mission</h4>
                                        <p itemprop="description">
                                            SMARTEN aims to become one of the leading FTTA, FTTX, and AMI Implementation
                                            service providers in the country while maintaining the highest level of
                                            service quality. We strive to be our customers' preferred partner by
                                            providing appropriate, innovative, world-class, independent, dependable,
                                            affordable, and cost-effective solutions and services. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="fea-bx">
                                    <i class="flaticon-037-internet brd-rd50"></i>
                                    <div class="fea-bx-inf">
                                        <h4 itemprop="headline">Vision</h4>
                                        <p itemprop="description">
                                            We at SMARTEN have a vision of evolving into a customer-focused company and
                                            becoming a leader in the field we are in by providing quality services to
                                            the full satisfaction of our customers and partners. Thus, we raise
                                            ourselves not only as a profit-oriented company, but also as company that
                                            builds an expert team that can be used in the development of society and
                                            nation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="fea-bx">
                                    <i class="flaticon-007-startup brd-rd50"></i>
                                    <div class="fea-bx-inf">
                                        <h4 itemprop="headline">Goals</h4>
                                        <p itemprop="description">
                                            The future is taking shape all around us. We will be able to see all kinds
                                            of differences over the next decade that we cannot even imagine today. By
                                            taking a proactive approach to meeting customer demands, SMARTEN will match
                                            the differences and contribute to the FTTA, FTTX, AMI, and ERP software for
                                            the timely and economical completion of the projects.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div class="spacing black-layer opc7 bottom-spac190">
                <div class="fixed-bg" style="background-image: url('assets/images/resources/slide1.jpg');"></div>
                <div id="prtcl2" class="particle-bx"></div>
                <div class="container">
                    <div class="prchs-wrp">
                        <div class="row">
                            <div class="col-md-7 col-sm-12 col-lg-7">
                                <div class="pur-mckp">
                                    <img src="{% static 'assets/images/resources/slide1.jpg' %}" alt="{% static 'pur-mckp.png' %}"
                                         itemprop="image">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12 col-lg-5">
                                <div class="pur-sec">
                                    <div class="pur-sec-inr">
                                        <span class="theme-clr">What are you waiting for?</span>

                                        <p itemprop="description">
                                            SMARTEN believes that human capital is the key to success in today's business environment.
                                            The company's highly specialized and experienced employees are pivotal in achieving the
                                            company's strategic policy. We offer a fast-paced, success-oriented, and rewarding
                                            environment fueled by the talent and skill of its people.
                                        </p>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div class="spacing no-spacing">
                <div class="container">
                    <div class="fn-fct-wrp text-center theme-bg overlap125">
                        <div class="remove-ext3">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fn-fct-bx">
                                        <span class="counter">100</span>
                                        <h4 itemprop="headline">Happy clients</h4>
                                        <i>Every week</i>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fn-fct-bx">
                                        <span class="counter">80</span>
                                        <h4 itemprop="headline">Software Apps</h4>
                                        <i>Available</i>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fn-fct-bx">
                                        <span class="counter">10</span>
                                        <h4 itemprop="headline">Branch Offices</h4>
                                        <i>Across the whole country</i>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fn-fct-bx">
                                        <span class="counter">5</span>
                                        <h4 itemprop="headline">Year experience</h4>
                                        <i>Trusted partner</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        
        
        <section>
            <div class="spacing top-spac190 bottom-spac80">
                <div class="container">
                    <div class="spnsr-car2 text-center owl-carousel">
                        <div class="spnsr-itm">
                            <a href="#" title="" itemprop="url"><img
                                    src="{% static 'assets/images/resources/nea.png' %}"
                                    alt="{% static 'spnsr2-1.png' %}" itemprop="image" style="width: 40%;"></a>
                        </div>
                        <div class="spnsr-itm">
                            <a href="#" title="" itemprop="url"><img
                                    src="{% static 'assets/images/resources/DishHome_Logo.png' %}"
                                    alt="{% static 'spnsr2-2.png' %}" itemprop="image" style="width: 40%;"></a>
                        </div>
                        <div class="spnsr-itm">
                            <a href="#" title="" itemprop="url"><img
                                    src="{% static 'assets/images/resources/Ncell_Logo.png' %}"
                                    alt="{% static 'spnsr2-3.png' %}" itemprop="image" style="width: 40%;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
    <div class="spacing theme-bg top-spac90 bottom-spac90">
        <div class="container">
            <div class="nws-ltr-wrp">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="nws-ltr">
                            <h4 itemprop="headline">Email Newsletter</h4>
                            <p itemprop="description">Keep me up to date with content, updates, and offers from
                                Smarten</p>
                            <form class="nws-frm">
                                {% csrf_token %}
                                <input type="email" name="email" placeholder="Email address" required>
                                <button class="theme-btn hrz brd-rd2" type="submit">SUBSCRIBE</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="facts-wrp remove-ext3">
                            <div class="fact-bx">
                                <strong class="counter">100000</strong>+
                                <span>IOT Nodes</span>
                            </div>
                            <div class="fact-bx">
                                <strong class="counter">150000</strong>
                                <span>CUSTOMERS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        <footer>
    <div class="spacing drk-bg top-spac80 bottom-spac80">
        <div class="container">
            <div class="ftr-wrp remove-ext5">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-lg-3">
                        <div class="wdgt abt-wdgt">
                            <div class="logo">
                                <a href="#" title="" itemprop="url">
                                    <img src="{% static 'assets/images/smarten-logo.png' %}" alt="{% static 'smarten-logo.png' %}"
                                         itemprop="image">
                                </a>
                            </div>
                            <p itemprop="description">SMARTEN is a SINGLE WINDOW INTERFACE FOR FTTA, FTTX, AMI
                                IMPLEMENTATION,
                                AND ERP SOLUTIONS.</p>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-lg-3">
                        <div class="wdgt">
                            <h4 itemprop="headline" class="wdgt-tl">Recent Blogs</h4>
                            <div class="rcnt-itm">
                                <h4 itemprop="headline"><a href="#" title=""
                                                           itemprop="url">Smart Electricity Meters in the Kathmandu
                                        Valley</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-clock-o theme-clr"></i> September 25, 2022</li>
                                </ul>
                            </div>
                            <div class="rcnt-itm">
                                <h4 itemprop="headline"><a href="#" title=""
                                                           itemprop="url">Future of Optical Link (5G)</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-clock-o theme-clr"></i> March 18, 2022</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-lg-3">
                        <div class="wdgt">
                            <h4 itemprop="headline" class="wdgt-tl">Resources</h4>
                            <div class="rcnt-itm">
                                <ul class="post-meta">
                                    <li><i class="fa fa-clock-o theme-clr"></i> About Us</li>
                                    <li><i class="fa fa-clock-o theme-clr"></i> Terms & Conditions</li>
                                    <li><i class="fa fa-clock-o theme-clr"></i> Career</li>
                                    <li><i class="fa fa-clock-o theme-clr"></i> FAQs</li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-lg-3">
                        <div class="wdgt">
                            <h4 itemprop="headline" class="wdgt-tl">Our Contacts</h4>
                            <p itemprop="description">For any queries contact us...</p>
                            <ul class="ft-cnt-lst">
                                <li><strong>Email:</strong> <a href="#" title=""
                                                               itemprop="url">support@smarten.com.np</a>
                                </li>
                                <li><strong>Phone:</strong> 01-5900098 / 985-1081507</li>
                            </ul>
                            <div class="scl-lnks">
                                <a class="brd-rd50" href="https://www.facebook.com/smarten.technologies" title="Facebook" itemprop="url" target="_blank"><i
                                        class="fa fa-facebook"></i></a>
                                <a class="brd-rd50" href="#" title="twitter" itemprop="url" target="_blank"><i
                                        class="fa fa-twitter"></i></a>
                                <a class="brd-rd50" href="https://www.instagram.com/smartentechnologies/" title="Instagram" itemprop="url" target="_blank"><i
                                        class="fa fa-instagram"></i></a>
                                <a class="brd-rd50" href="#" title="Linkedin" itemprop="url" target="_blank"><i
                                        class="fa fa-linkedin"></i></a>
                                <a class="brd-rd50" href="#" title="Youtube" itemprop="url" target="_blank"><i
                                        class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Footer Wrap -->
        </div>
    </div>
</footer>
<div class="btm-br text-center">
    <div class="container">
        <p itemprop="description">&copy; 2023 All Rights Reserved ||
            <a href="/homepage" title="Smarten" itemprop="url"
               target="_blank">Smarten Technologies Pvt Ltd</a>
        </p>
    </div>
</div>
    </main><!-- Main Wrapper -->

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.min.js' %}"></script>
<script src="{% static 'assets/js/part-int.js' %}"></script>
<script src="{% static 'assets/js/custom-scripts.js' %}"></script>

<!-- Revolution JS Files -->
<script src="{% static 'assets/js/revolution/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/js/revolution/jquery.themepunch.revolution.min.js' %}"></script>

<!-- Slider Revolution 5.0 Extensions -->
<script src="{% static 'assets/js/revolution/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'assets/js/revolution/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/revolution/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'assets/js/revolution/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'assets/js/revolution/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'assets/js/revolution/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'assets/js/revolution/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'assets/js/revolution/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'assets/js/revolution/extensions/revolution.extension.video.min.js' %}"></script>
<script src="{% static 'assets/js/revolution/revolution-init.js' %}"></script>
</body>
</html>
